{% extends "bikes/base.html" %}

{% block content %}
<body>
    <div class="w3-container">
        {% if transaction.customer %}
            <h3>{{ transaction.id }} - {{ transaction.customer.firstName }} {{ transaction.customer.lastName }}</h3>
        {% else %}
            <h3>{{ transaction.id }}</h3>
        {% endif %}

        <ul class="w3-ul">
            {% for repair in transaction.repairs.all %}
                <li>{{ repair.name }}</li>
            {% endfor %}
        </ul>

        <ul class="w3-ul">
            {% for item in transaction.items.all %}
                <li>{{ item.name }}</li>
            {% endfor %}
        </ul>
        <button class="w3-button">Delete</button>
    </div>
</body>
{% endblock content %}