{% extends "bikes/base.html" %}

{% block content %}

    {% if transaction_list %}
        <table class="w3-table w3-hoverable w3-bordered">
            <thead>
              <tr class="w3-theme-l3">
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            {% for transaction in transaction_list %}
                <tr onclick=rowLink('{% url 'detail' transaction.id %}') class="w3-hover-light-gray">
                  <td>{{ transaction.id }}</td>
                  <td>{{ transaction.customer.firstName }} {{ transaction.customer.lastName }}</td>
                  <td>{{ transaction.bike.make }} {{ transaction.bike.model }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

<script type="text/javascript">
function rowLink(url)
{
   document.location.href = url;
}
</script>

{% endblock content %}