{% extends "bikes/base.html" %}

{% block content %}

    {% if transaction_list %}
        <table class="w3-table w3-hoverable w3-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
              </tr>
            </thead>
            {% for transaction in transaction_list %}
                <tr onclick=rowLink('{% url 'detail' transaction.id %}')>
                  <td>{{ transaction.id }}</td>
                  <td>{{ transaction.customer.firstName }}</td>
                  <td>{{ transaction.customer.lastName }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

<script type="text/javascript">
function rowLink(url)
{
   document.location.href = url;
}
</script>

{% endblock content %}